.btn-outline-dark:focus{
    box-shadow:none;
}

@media screen and (max-width:768px) {
    .btn-outline-dark{
        border:none;
        padding:0;
        outline:none;
    }

    .btn-outline-dark:hover{
        background:none;
        color:black;
    }

}

.navbar{
    padding-bottom: 20px;
}

.card{
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.carousel-item img {
    max-height: 500px;
    object-fit: contain;
}

.container {
    max-width: 1400px;
}

.form-label {
    margin-bottom: 4px;
}

#previewContainer img {
    transition: transform 0.2s;
}
